<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Edit Wiki</h1>

      <form action="/wikis/<%= wiki.id %>/update" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input value="<%= wiki.title %>" type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="<%= wiki.title %>">
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="<%= wiki.body %>"><%= wiki.body %></textarea>
        </div>
        <% if(currentUser.hasPremium() || currentUser.isAdmin()) { %>
          <div class="form-group">
            <label for="private">Make this wiki private?</label>
            <input value="true" type="radio" class="form-control" name="private" required>true
            <input value="false" type="radio" class="form-control" name="private" required>false
          </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>

      <% if(wiki.private) { %>
        <h4>Wiki Collaborators</h4>
        <ul class="list-group">
          <% collabs.forEach((collab) => { %>
            <li class="list-group-item">
              <%- collab.username %>
              <a href="/wikis/<%= wiki.id %>/<%= collab.id %>/destroyCollab">Delete collaborator</a>
            </li>
          <% }); %>
        </ul>
        <a href="/wikis/<%= wiki.id %>/newCollab" class="btn btn-primary">Add collaborators</a>
      <% } %>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
